<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AppTest</title>
		<link rel="stylesheet" href="/static/appTest_app/css/styles.css">
	</head>
	<body>
		<header style="padding:1rem; background:#222; color:#fff; text-align:center;">
			<h2>AppTest</h2>
		</header>

		<main>
			{% block content %}{% endblock %}
		</main>

		<footer style="padding:1rem; text-align:center; color:#666;">
			<small>© AppTest</small>
		</footer>
		<script src="/static/appTest_app/js/appTest_app.js"></script>
	</body>
</html>
